.animate{
    position: relative;

}

.animate::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #efe6d5 !important;
    
    border-left: 2px solid #0000ff;
    animation: typing  2.4s steps(12) infinite;
}

@keyframes typing {
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}